<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Change Password</title>
</head>

<body class="">
    <div class="">
        <div class="">
            <div class="">
                <div class="border xl:mx-[650px] lg:mx-[350px] my-[114px] bg-[#f5f4f4] rounded-xl shadow-md sm:mx-[100px] md:mx-[300px]">
                    <div class="text-center">
                        <h1 class="text-[50px]">
                            Change password
                        </h1>
                    </div>
                    <div class="mx-6 my-4 flex flex-col">
                        <form action="/change_password" method="post">
                            <div class="mx-6 my-4 flex flex-col">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="input input-bordered h-[60px] w-full" required>
                            </div>
                            <div class="mx-6 my-4 flex flex-col">
                                <label for="current_password">Current Password</label>
                                <input type="password" name="current_password" class="input input-bordered h-[60px] w-full" required>
                            </div>
                            <div class="mx-6 my-4 flex flex-col">
                                <label for="new_password">New Password</label>
                                <input type="password" name="new_password" class="input input-bordered h-[60px] w-full" required>
                            </div>
                            <div class="mx-6 my-4 flex flex-col">
                                <label for="confirm_new_password">Confirm New Password</label>
                                <input type="password" name="confirm_new_password" class="input input-bordered h-[60px] w-full" required>
                            </div>
                           <div class="text-center">
                             <button type="submit" class="m-2 btn text-[20px] w-[250px] h-[60px] bg-[#B52245] rounded-full text-white border-[#B52245] mb-5">Change Password</button>
                           </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
