<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>User Dashboard</title>
   
</head>
<body>
    <nav class="">
        <div class="navbar bg-base-100 bg-whtie justify-between flex shadow-md">
            <div class="flex ">
                    <div class="flex flex-row ">
                      <img class="w-[68px] h-[59px]" src="/asset/logo.png" alt="logo" />
                      <h1 class=" text-[#B52245] text-[30px] my-auto">BIZ-NA</h1> 
                    </div>
                    <ul class="flex flex-column gap-10 ml-10">
                      <li class="my-auto">
                        <a class="text-black text-[30px] " href="{{ url_for('calculate') }}" >Market</a>
                      </li>
                      <li  class="m-3">
                        <a class="text-black text-[30px] pl-4 pr-4 pt-2 pb-2 pointer" href="{{ url_for('display_news') }}">News</a>
                      </li>
                    </ul>
                   
            </div>
            <div class="  my-auto">
                    <a class="text-black text-[25px] pl-4 pr-4 pt-2 pb-2" href="/">Login</a>
                    <a class="text-white text-[25px] bg-[#B52245] pl-4 pr-4 pt-2 pb-2 rounded-full" id="Register" href="/sign_in">Logout</a>
            </div>
                 
        </div>
       
    </nav>
<h2>User Dashboard</h2>

<table border="1">
    <tbody>
        <h3>Stocks:</h3>
        <ul>
            {% for stock, quantity in stocks %}
            <li>{{ stock }}: {{ quantity }}</li>
            {% endfor %}
        </ul>
        
        <h3>Cryptocurrencies:</h3>
        <ul>
            {% for crypto, quantity in cryptocurrencies %}
            <li>{{ crypto }}: {{ quantity }}</li>
            {% endfor %}
        </ul>
        
    </tbody>
</table>



<a href="{{ url_for('login') }}">Logout</a>
<a href="{{ url_for('display_news') }}">View News</a>

</body>
</html>
