<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Login</title>
</head>

<body class="">
    <nav class="">
        <div class="navbar bg-base-100 bg-whtie justify-between flex shadow-md">
            <div class="flex ">
                    <div class="flex flex-row ">
                      <img class="w-[68px] h-[59px]" src="https://raw.githubusercontent.com/oattao123/project_oopdatabase/Ui/asset/logo.png" alt="logo" />
                      <a class=" text-[#B52245] text-[30px] my-auto" href="/login" id="bizna-logo">BIZ-NA</a> 
                    </div>
                    <ul class="flex flex-column gap-10 ml-10">
                      <li class="my-auto">
                        <a class="text-black text-[30px] " href="/stock">Stock</a>
                      </li>
                      <li class="my-auto">
                        <a class="text-black text-[30px] " href="/cryptocurrency">Cryptocurrency</a>
                      </li>
                      <li  class="m-3">
                        <a class="text-black text-[30px] pl-4 pr-4 pt-2 pb-2 pointer" href="{{ url_for('display_news') }}">News</a>
                      </li>
                    </ul>
                   
            </div>
            <div class="  my-auto">
                    <a class="text-black text-[25px] pl-4 pr-4 pt-2 pb-2" href="/">Login</a>
                    <a class="text-white text-[25px] bg-[#B52245] pl-4 pr-4 pt-2 pb-2 rounded-full" id="Register" href="/sign_in">Sign up</a>
            </div>
                 
        </div>
       
    </nav>
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://th.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "เอสแอนด์พี 500"
          },
          {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
          },
          {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR to USD"
          },
          {
            "proName": "BITSTAMP:BTCUSD",
            "title": "บิทคอยน์"
          },
          {
            "proName": "BITSTAMP:ETHUSD",
            "title": "อีเธอเรียม"
          }
        ],
        "showSymbolLogo": true,
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "th_TH"
      }
        </script>
      </div>
    <div class="">
        <div class="">
            <div class=" ">
                <div class="border xl:mx-[650px] lg:mx-[350px] my-[114px] bg-[#f5f4f4] rounded-xl shadow-md sm:mx-[100px] md:mx-[300px]">
                    <div class="text-center text-[50px]">Login</div>
                    <div class="">
                        
                        <!-- <form action="/calculate" method="post"> -->
                            <form action="{{ url_for('calculate', username=username) }}" method="post">
                            <div class="mx-6 my-4 flex flex-col">
                                <label for="username">Username</label>
                                <input  type="text" placeholder="Input you username" name="username" class="input input-bordered h-[60px] w-full" required>
                            </div>
                            <div class="mx-6 my-4 flex flex-col">
                                <label for="password">Password</label>
                                <input type="password" placeholder="Input you password" name="password" class="input input-bordered h-[60px] w-full" required>
                            </div>
                          <div class="text-center">
                            <button class="m-2 btn text-[25px] w-[150px] h-[60px] bg-[#B52245] rounded-full text-white border-[#B52245] mb-5" type="submit" class="">login</button>
                          </div>
                           <div class="text-center mb-2">
                               
                                <!-- Button to redirect to change password page -->
                            <span>Don't have account? <a href="/change_password" class="text-[#1260cc]">forget password</a></span>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>