<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>จัดการข่าว</title>
    <!-- Add some basic CSS for better layout (optional) -->
   
</head>
<nav class="">
    <div class="navbar bg-base-100 bg-whtie justify-between flex shadow-md">
        <div class="flex ">
                <div class="flex flex-row ">
                  <img class="w-[68px] h-[59px]" src="/asset/logo.png" alt="logo" />
                  <h1 class=" text-[#B52245] text-[30px] my-auto">BIZ-NA</h1> 
                </div>
                <ul class="flex flex-column gap-10 ml-10">
                  <li class="my-auto">
                    <a class="text-black text-[30px] " href="{{ url_for('calculate') }}" >Market</a>
                  </li>
                  <li  class="m-3">
                    <a class="text-black text-[30px] pl-4 pr-4 pt-2 pb-2 pointer" href="{{ url_for('display_news') }}">News</a>
                  </li>
                </ul>
               
        </div>
        <div class="  my-auto">
                
                <a class="text-white text-[25px] bg-[#B52245] pl-4 pr-4 pt-2 pb-2 rounded-full" id="Register" href="/sign_in">Logout</a>
        </div>
             
    </div>
   
</nav>
<body>
    <div class="mx-[300px] flex flex-row gap-4 my-[50px]">
       <div class=" basis-1/2">
        <h2 class="text-[25px]">Add News</h2>
        <div class="border rounded-xl shadow-md">
           
            <div class="flex flex-col gap-4 ">
                
                <form  class="flex flex-col" action="/add_news" method="post">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="title" placeholder="Title" required>
                    <textarea class="m-3 input input-bordered h-[100px] w-ful"  name="content" placeholder="Content" required></textarea>
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="date_published" placeholder="Date" required>
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="related_asset" placeholder="Related Asset">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="cover_image" placeholder="Cover Image URL">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="author_name" placeholder="Author Name">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="author_image" placeholder="Author Image URL">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="category" placeholder="Category">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="full_content" placeholder="Full Content">
                    <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="short_description" placeholder="Short Description">
                   <div class="text-center">
                    <button class=" btn text-[25px] w-[150px] h-[60px] bg-[#B52245] rounded-full text-white border-[#B52245] mb-5" type="submit">Submit</button>
                   </div>
                </form>
            </div>
           </div>
       </div>
       <div class="basis-1/2">
        <h2 class="text-[25px]">Existing News</h2>  
            <div class="border rounded-xl shadow-md ">

       
            <div id="newsList " class="p-3">
                {% for news_item in news %}
                <div class="news-item">
                    <h3 class="news-title ">{{ news_item.title }}</h3>
                    <p class="news-content">{{ news_item.content }}</p>
                    <form action="/delete_news" method="post">
                        <input class="m-3 input input-bordered h-[40px] w-ful" type="text" name="title" placeholder="Enter title to delete" required>
                        <button class="text-[15px] w-[100px] h-[40px] bg-[#B52245] rounded-md text-white border-[#B52245] " type="submit">Delete</button>
                    </form>
                </div>
                {% endfor %}
            </div>
            </div>
       </div>
    </div>
</body>
</html>
