<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

   
    <title>News</title>
    <!-- Add some basic CSS for better layout (optional) -->
    
</head>

<body>
    <nav class="">
        <div class="navbar bg-base-100 bg-whtie justify-between flex shadow-md">
            <div class="flex ">
                    <div class="flex flex-row ">
                      <img class="w-[68px] h-[59px]" src="https://raw.githubusercontent.com/oattao123/project_oopdatabase/Ui/asset/logo.png" alt="logo" />
                      <a class=" text-[#B52245] text-[30px] my-auto" href="/login" id="bizna-logo">BIZ-NA</a>
                    </div>
                    <ul class="flex flex-column gap-10 ml-10">
                        <li class="my-auto">
                            <a class="text-black text-[30px] " href="/stock">Stock</a>
                          </li>
                          <li class="my-auto">
                            <a class="text-black text-[30px] " href="/cryptocurrency">Cryptocurrency</a>
                          </li>
                          <li  class="m-3">
                            <a class="text-black text-[30px] pl-4 pr-4 pt-2 pb-2 pointer" href="{{ url_for('display_news') }}">News</a>
                          </li>
                    </ul>
                   
            </div>
            <div class="  my-auto">
                    
                    <a class="text-white text-[25px] bg-[#B52245] pl-4 pr-4 pt-2 pb-2 rounded-full" id="Register" href="/sign_in">Logout</a>
            </div>
                 
        </div>
       
    </nav>
   
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://th.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "เอสแอนด์พี 500"
          },
          {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
          },
          {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR to USD"
          },
          {
            "proName": "BITSTAMP:BTCUSD",
            "title": "บิทคอยน์"
          },
          {
            "proName": "BITSTAMP:ETHUSD",
            "title": "อีเธอเรียม"
          }
        ],
        "showSymbolLogo": true,
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "th_TH"
      }
        </script>
      </div>
    <div class="news-container mx-[200px]">
        <h1 class="text-[35px]">News</h1>
        <div class="">
            <ul class="flex flex-row gap-3">  
                {% for item in news %}
                <li class="news-item border rounded-md p-3 w-[225px]">
                    <span class="news-category">{{ item['category'] }}</span>
                    <h2 class="news-title text-[20px]">{{ item['title'] }}</h2>
                    <div>
                        <img class="w-[30px] h-[30px] rounded-full" src="{{ item['author_image'] }}" alt="Author image" class="author-image">
                        <span class="news-author">{{ item['author_name'] }}</span>
                    </div>
                    <img class="w-[200px] h-[200px] rounded-md" src="{{ item['cover_image'] }}" alt="Cover image" class="cover-image">
                    <p class="news-content">{{ item['short_description'] }}</p>
                    <small class="news-date">วันที่เผยแพร่: {{ item['date_published'] }}</small>
                    {% if item['related_asset'] %}
                        <br><small>สินทรัพย์ที่เกี่ยวข้อง: {{ item['related_asset'] }}</small>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>